.css-1cb450p {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-template-columns: 360px 1fr;
    grid-template-rows: auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.css-1mtiudv {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    margin-right: unset;
}
.css-wv86cc {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 8px;
    line-height: 24px;
    font-weight: 500;
}
.css-19oposz {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 38px;
}
.css-19oposz > div:nth-of-type(1) {
    width: 100%;
    margin-bottom: 16px;
}
.css-vurnku {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}
.css-1hmvz8g {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    text-align: center;
    color: #1E2329;
    display: block;
}
.css-19o53ad {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    height: 40px;
}
.css-1pqhwvz[data-status="process"] {
    color: #1E2329;
}
.css-1pqhwvz {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: static;
    color: #707A8A;
    padding: 8px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.css-yyvsvt {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.css-vdqias {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: none;
}
.css-1pqhwvz[data-status="process"] [data-class="step_marker_row"], .css-1pqhwvz[data-status="process"] [data-class="step_marker_column"] {
    background-color: #FCD535;
}
.css-1pqhwvz [data-class="step_marker_row"] {
    position: relative;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 100%;
    margin-top: 20px;
    background-color: #EAECEF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.css-1pqhwvz[data-status="process"] [data-class="step_marker_number"] {
    color: #181A20;
}
.css-1pqhwvz[data-status="process"] [data-class="step_marker_row"]::after, .css-1pqhwvz[data-status="process"] [data-class="step_marker_column"]::after {
    background-color: #EAECEF;
}
.css-1pqhwvz [data-class="step_marker_row"]::after {
    content: '';
    position: absolute;
    height: 4px;
    top: 12px;
    width: 9999px;
    background-color: inherit;
    left: 100%;
    margin-left: 8px;
}
.css-13dco2g {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    bottom: 20px;
    height: 0px;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    background-color: #EAECEF;
}
.css-13dco2g::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: inherit;
}
.css-yyvsvt {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.css-vdqias {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: none;
}
.css-1pqhwvz [data-class="step_marker_row"] {
    position: relative;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 100%;
    margin-top: 20px;
    background-color: #EAECEF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.css-1pqhwvz [data-class="step_marker_row"]::before {
    content: '';
    position: absolute;
    height: 4px;
    top: 12px;
    width: 9999px;
    background-color: inherit;
    right: 100%;
    margin-right: 8px;
}
.css-1p4nx4e {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-size: 16px;
}
.css-1ks2cih {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #181A20;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #FCD535;
    border-radius: 1.45rem;
}

.css-1ks3cih {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #181A20;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #dee2e6;
    border-radius: 1.45rem;
}

.css-1pqhwvz [data-class="step_marker_row"]::after {
    content: '';
    position: absolute;
    height: 4px;
    top: 12px;
    width: 9999px;
    background-color: inherit;
    left: 100%;
    margin-left: 8px;
}
.css-1ukfkuj {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-template-columns: 234px 1fr;
    grid-template-rows: max-content max-content;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.css-1hgogrt {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: linear-gradient(149.3deg,#EAECEF 4.64%,#CACED3 98.81%);
    display: none;
    width: 234px;
    height: 288px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.css-1g5n5o9 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    width: 234px;
    height: 288px;
}
.css-ih2psb {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /*box-shadow: 0px 0px 1px rgba(24,26,32,0.1),0px 7px 14px rgba(71,77,87,0.08),0px 3px 6px rgba(24,26,32,0.08);*/
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
}
.css-1y3yk4n {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #1E2329;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 12px;
}
.css-cmucs3 {
    box-sizing: border-box;
    margin: 0px 8px;
    min-width: 0px;
    color: rgb(30, 35, 41);
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
}
.css-1h4okcl {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: rgba(24, 26, 32, 0.1) 0px 0px 1px, rgba(71, 77, 87, 0.08) 0px 7px 14px, rgba(24, 26, 32, 0.08) 0px 3px 6px;
    width: 24px;
    height: 24px;
}
.css-1s7ihkk {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
}
.css-1sofs9o {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 24px;
    border-radius: 480px;
    color: #1E2329;
    cursor: pointer;
    background-color: #FCD535;
    margin-right: 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.css-1r09nd6 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 24px;
    border-radius: 480px;
    color: #1E2329;
    cursor: pointer;
    background-color: #F5F5F5;
    margin-left: 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.css-jfbgiv {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.css-13vk4iw {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px;
}
.css-17gh8gg {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #1E2329;
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    margin-right: 8px;
}
.css-18470ki {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
    margin-right: 8px;
    height: 19px;
}
.css-4cffwv {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.css-1rh46qq {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: #484d56;
    width: 24px;
    height: 24px;
    font-size: 24px;
    fill: #1E2329;
    fill: #484d56;
    width: 1em;
    height: 1em;
    font-size: 24px;
}
.css-1klmeyb {
    box-sizing: border-box;
    margin: 0px 0px 8px;
    min-width: 0px;
    display: flex;
    color: rgb(216, 159, 0);
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    background-color: rgba(240, 185, 11, 0.1);
    padding: 1px 5px;
    flex: 0 0 auto;
    width: max-content;
}
.css-10atzj {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.css-17txzu1 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #1E2329;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.css-kazoia {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
    margin-right: 8px;
    height: 19px;
    margin-left: 8px;
}
.css-17qg5ii {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #02C076;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.css-tyfyof {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.css-17txzu1 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #1E2329;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.css-i2js87 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 88px;
    background-color: rgba(255,255,255,0.3);
    opacity: 0;
    z-index: 900;
    pointer-events: none;
    display: none;
    position: absolute;
    height: 100%;
}
.css-v23n6v {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.css-2bc2yz {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    background-color: #F0B90B;
    height: 100%;
    width: 3px;
    -webkit-animation: animation-hqgv56 1.2s infinite ease-in-out;
    animation: animation-hqgv56 1.2s infinite ease-in-out;
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.css-i6pav4 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    background-color: #F0B90B;
    height: 100%;
    width: 3px;
    -webkit-animation: animation-hqgv56 1.2s infinite ease-in-out;
    animation: animation-hqgv56 1.2s infinite ease-in-out;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.css-14jhrrk {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    background-color: #F0B90B;
    height: 100%;
    width: 3px;
    -webkit-animation: animation-hqgv56 1.2s infinite ease-in-out;
    animation: animation-hqgv56 1.2s infinite ease-in-out;
    -webkit-animation-delay: -0s;
    animation-delay: -0s;
}
.css-1kkgc7m {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-column: 1 / 3;
    margin-top: 24px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}









